html{
  background-color: rgb(189, 25, 25);
}

.top_buttons, img{
  height: 30px;
  width: 30px;
  display: inline;
}
header{
  border-bottom-style: ridge;
  border-color: rgb(46, 20, 20);
  position: fixed;
  top: 0px;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 1;
}
.botonsote{
  width: 100px;
  height: 100px;
}
.foot{
  display: inline;
  position: fixed;
  bottom: 0px;
}

}
footer *{
  display: inline;
}
.red_thing{
  border-style: double;
  border-color: rgb(15, 7, 7);
  background-color: rgb(195, 40, 40);
  color: rgb(195, 40, 40);
}
.green_thing{
  border-style: double;
  border-color: rgb(15, 7, 7);
  background-color: rgb(58, 111, 16);
  color: rgb(58, 111, 16);
}
.lcd_kinda_thing{
  border-style: double;
  border-color: rgb(15, 7, 7);
  background-color: rgb(193, 246, 43);
  color: rgb(193, 246, 43);
}
.lcd{
  height: 150px;
  width: auto;
}
.dpad{
  height: 150px;
  width: auto;
}

.content{
  background-color: rgba(133, 133, 133, 0.64);
  position: absolute;
  top: 150px;
  z-index: 0;
}
.content *{
  display: inline;
  width: 30%;
  height: auto;
}
.evol{
  height: 85%;
  width: auto;
}
